
#todos-window {
  display: flex;
  gap: 5em;
  justify-items: center;
}

.todo-container {
  display: flex;
  gap: 5em;
  margin: 3em;
  flex-wrap: wrap;
}

.todo {
  border: 1px solid black;
  padding: 5px;
  min-width: 25vw;
}